.DS_Store
node_modules
/dist
dist.rar
/.vs
stats.html
.history

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*(old).vue
*.suo
*.ntvs*
*.njsproj
*.sln
yarn.lock
package-lock.json
